.customer-trip-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.customer-trip-card {
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
}

.trip-details {
    flex-grow: 1;
}

.driver-details {
    display: flex;
    align-items: center;
}

.customer-trip-heading-large {
    font-size: 2.5rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .customer-trip-card {
        flex-direction: column; /* Stack elements vertically on smaller screens */
        align-items: flex-start; /* Align items to the start */
    }

    .driver-details {
        margin-top: 10px; /* Add some space above driver details */
    }
}